<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="description" content="Explicit Anime and Explicit Information">
    <meta charset="keywords" content="Anime, Education, Information">
    <meta charset="author" content="FRS">
    <meta http-equiv="refresh" content="600">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/me.jpg" type="images/jpg">
    <link rel="stylesheet" href="style.css">
    <title>BELAJAR!</title>
</head>
<body>
    <iframe style="border:0" src="https://www.wikipedia.org" width="1528" height="600"></iframe>

    <!--Tags, Elements-->
    <h1 align="center">WELCOME!!</h1>
    <a href="index2.html" target="_self" title="This will take you to gulugulu">
    <button style="background-color: black;color: #00FF00;border-radius: 5px;padding: 10px;">To the Index2.html</button>
    </a>

    <hr>
    <a href="https://en.wikipedia.org/wiki/Anime" target="_blank">
        <img src="images/UUKFAVICON.jpg" height="500" alt="Anime Girl" title="Anime is fun!">
    </a>
    <a href="https://en.wikipedia.org/wiki/Anime" target="_blank">
        <img src="images/maple.jpg" height="500" alt="Anime Girl" title="Anime is fun!">
    </a>
    <hr>
    <audio controls loop>
        <source src="sounds/Pendulum - Immunize [HD - 320kbps] (1).mp3">
    </audio>    
    <hr>
    <video loop muted autoplay width="1000">
        <source src="videos/Youronlymoveishustle 2025.03.19 - 19.48.56.01.mp4">
    </video>
    <hr>

    <!--HTML Text Formatting Tags-->
    <section style="background-color: black;color: rgb(55, 255, 0);padding: 8px;">
        <h1>WELCOME TO OUR PRACTICE WEBSITES!</h1>
        <p><b>WE</b> are the <i><strong>CHOOSEN</strong></i> Ones.</p>
        <p>We must kill or be killed in this worlds, we must survive until dawn and next dawn.</p>
        <p>If we didnt survive this, we will be really, really <big>crushed</big> to pieces.</p>
        <p>Even though we just started to <small>learn</small> how things work..</p>
        <p>We could be very competitive if we learn<sup>2x</sup> harder than <sub> <b>them</b></sub>.</p>
        <p>This is no <ins> GAMES</ins> and not <del>Drama</del>.</p>
        <p>With ambition we could <mark><ins>THRIVES</ins></mark> and <big><strong>complete</strong></big> it.</p>
    </section>

    <hr>

    <!--List in HTML!!-->

    <h4>Unordered List</h4>
        <ul>
            <li>Baba Yaga</li>
            <li>Bumbu Yagas</li>
            <li>Dough of Mazda</li>
            <li>Duce II</li>
        </ul>

    <h4>Ordered List</h4>
        <ol type="I">
            <li>Waffen-SS</li>
            <li>Bismarchk Kunyu<sup>2</sup></li>
            <li>Erwin Iron Balls</li>
                <ul>
                    <li>Erwin Horse</li>
                    <li>Erwin Arms</li>
                </ul>
            <li>Coward Eren</li>
        </ol>

    <h4>Description List</h4>
        <dl>
            <dt>WAffen-SS</dt>
            <dd>This Division of Nazis Organisation commits warcrime more than what can you imagine about warcrimes.</dd>
            <dt>Bismarchk Kunyu-Kunyu</dt>
            <dd>This Division of Naziz Organisation have a lot of hidden tech of naval warfare technology.</dd>
            <dt>Erwin Iron Balls</dt>
            <dd>The most wanted balls for every man in the earth.</dd>
            <dt>Coward Eren</dt>
            <dd>We all hate him do we?</dd>
        </dl>

    <!--Tables-->
    <h3>Jadwal</h3>

    <table bgcolor="black" width="700">
        <tr bgcolor="Grey" align="center">
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        <tr bgcolor="lightgrey" align="center">
            <td>Belajar 7-10</td>
            <td>Belajar</td>
            <td>Belajar</td>
            <td>Belajar</td>
            <td>Belajar</td>
            <td>Belajar</td>
            <td>Belajar</td>
        </tr>
    </table>
    <hr>
    <div style="background-color: black;color: #00FF00;padding: 5px;">
        <p><span style="color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> Cupiditate culpa hic, ipsum sit in, asperiores, possimus doloremque sunt quidem consequuntur aspernatur harum. Necessitatibus, magnam! Impedit eligendi voluptate dignissimos vero tenetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima perspiciatis aliquam placeat nisi, facilis dignissimos quasi optio? Pariatur odit rem inventore quia minima voluptates dolorem necessitatibus architecto molestias nam! Repellat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cupiditate alias, porro mollitia similique incidunt eius adipisci laudantium exercitationem, id enim dolore architecto voluptates sapiente ut quam, at quasi vel.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nostrum saepe repudiandae velit eveniet error ut aliquid, vel cumque at corporis quidem a animi! Autem qui sed quibusdam sunt dolores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi molestias veritatis voluptatibus placeat error laborum, exercitationem sequi, voluptates sapiente voluptatum suscipit possimus dolorem neque sit hic eos magni expedita nam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo natus aliquam voluptatibus iure nostrum ipsum rem, quas amet temporibus, sed ullam consequatur, corrupti ratione? Quo laboriosam dolore doloremque delectus.</p>
    </div>
    <hr>
    <!--Iframes..-->
    <iframe src="index2.html" width="1200" height="500"></iframe>

    <hr>
    <!--Buttons-->
    <button onclick="doSomething()" style="background-color: black;color: #00FF00;border-radius: 5px;padding: 10px;">Click me!</button>
    <h1 id="Testing1">Hello!</h1>
    <script>
        function doSomething(){
            document.getElementById("Testing1").innerHTML="Hi!"
        }
    </script>
    <a href="jwsrtd.html" target="_self" title="This will take you to gulugulu">
    <button style="background-color: black;color: #00FF00;border-radius: 5px;padding: 10px;">To the jwsrtd.html</button>
    </a>
</body>
</html>