body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}




input[type="radio"]:checked + label{

    color: aqua;
    margin: 1px;
    border-style: ridge;
    border-radius: 4px;
    padding: 2px;


}



